.content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid var(--gray-200);
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}