.tag {
  display: inline-block;
  border-radius: var(--border-radius);
  border-style: solid;
}

.xsmall {
  padding: 6px 12px;
  font-size: 12px;
  border-width: 1px;
}

.small {
  padding: 8px 16px;
  font-size: 14px;
  border-width: 2px;
}

.medium {
  padding: 10px 20px;
  font-size: 16px;
  border-width: 2px;
}

.large {
  padding: 12px 24px;
  font-size: 18px;
  border-width: 3px;
}

@media screen and (max-width: 768px) {
  .xsmall {
    padding: 3px 6px;
    font-size: 10px;
  }

  .small {
    padding: 5px 10px;
    font-size: 12px;
  }

  .medium {
    padding: 7px 14px;
    font-size: 14px;
  }

  .large {
    padding: 9px 18px;
    font-size: 16px;
  }
}

.black {
  color: var(--gray-300);
  border-color: var(--gray-500);
  background-color: var(--gray-900);
}

.white {
  color: var(--gray-700);
  border-color: var(--gray-300);
  background-color: var(--gray-100);
}

.gray {
  color: var(--gray-900);
  border-color: var(--gray-900);
  background-color: var(--gray-300);
}