.typography {
  line-height: 1.6;
  color: var(--gray-800);
}

.xsmall {
  font-size: 12px;
}

.small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .xsmall {
    font-size: 10px;
  }

  .small {
    font-size: 12px;
  }

  .medium {
    font-size: 14px;
  }

  .large {
    font-size: 16px;
  }
}