.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: bolder;
  gap: 1em;
  color: var(--orange-800);
  background-color: var(--white);
  cursor: pointer;
  user-select: none;
  transition-duration: .2s;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  opacity: 0.5;
}

.xsmall {
  font-size: 12px;
}

.small {
  font-size: 16px;
}

.isSubmitting {
  color: var(--gray-400);
  pointer-events: none;
}