.nav {
  min-width: 80px;
  max-width: 80px;
  border-right: 1px solid var(--gray-200);
  background-color: var(--white);
}

.list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.listitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listitem a {
  display: flex;
  width: 100%;
  height: 88px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.listitem a:hover {
  opacity: 0.5;
}

.listitem a[aria-current="page"] {
  color: var(--orange-900);
}

.modalContainerToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88px;
}

.modalContainerToggle:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .nav {
    min-width: 72px;
    max-width: 72px;
    min-height: calc(100vh - 54px);
    border-right: 1px solid var(--gray-200);
    position: fixed;
    top: 54px;
    z-index: 2;
    transform: translateX(-72px);
    transition-duration: .2s;
  }

  :has([id="drawerMenu"]:checked) .nav {
    transform: translateX(0px);
  }
}