.listitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listitem a,
.listitemChild {
  display: flex;
  width: 100%;
  height: 88px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.listitem a:hover,
.listitemChild:hover {
  opacity: 0.5;
}

.listitem a[aria-current="page"] {
  color: var(--orange-900);
}

.navigationLinkClassName {
  font-family: 'Roboto', sans-serif;
}